@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .header-nav {
        width: 556px;
    }
    .hero-title h1 {
        font-size: 33px;
    }
    .comp-title p {
        font-size: 16px;
    }
    .block p {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .hero {
        flex-direction: column;
    }
    .hero-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
    }
    .comp-title p {
        font-size: 15px;
    }

}

@media (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .comp {
        flex-direction: column;
        text-align: center;
    }
    .comp img {
        margin-bottom: 50px;
    }
    .block p {
        font-size: 11px;
    }
    .block h1 {
        font-size: 24px;
    }
    .block button {
        width: 92px;
        height: 29px;
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .hero-title button {
        width: 141px;
        height: 42px;
        font-size: 18px;
    }
    .hero img {
        width: 90%;
    }
    .comp img {
        width: 90%;
    }
    .blocks {
        flex-direction: column;
    }
    .block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .block p {
        font-size: 15px;
    }
    .block h1 {
        font-size: 31px;
    }
    .block button {
        width: 133px;
        height: 35px;
        font-size: 15px;
    }
    .contact {
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    .contact-left {
        padding-bottom: 30px;
    }
}

@media (max-width: 451px) {
    .hero-title p {
        font-size: 15px;
    }
    .comp-title h1 {
        font-size: 29px;
    }
    .comp-title p {
        font-size: 14px;
        line-height: 23px;
    }
    .footer h1 {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .header img {
        width: 25%;
    }
    .header-icon a {
        font-size: 22px;
    }
    .hero-title p {
        font-size: 13px;
    }
    .hero-title button {
        width: 120px;
        height: 35px;
        font-size: 13px;
    }
    .comp-title h1 {
        font-size: 26px;
    }
    .comp-title p {
        font-size: 12px;
        line-height: 21px;
    }
    .contact-right h1 {
        font-size: 20px;
    }
    .contact-left p {
        font-size: 14px;
    }
    .contact-right p {
        font-size: 14px;
    }
}

@media (max-width: 376px) {
    .hero-title h1 {
        font-size: 29px;
    }
    .comp-title h1 {
        font-size: 23px;
    }
    .comp-title p {
        font-size: 11px;
        line-height: 19px;
    }

}

@media (max-width: 320px) {
    .hero-title h1 {
        font-size: 23px;
    }
    .hero-title p {
        font-size: 11px;
        line-height: 17px;
    }
    .comp-title h1 {
        font-size: 20px;
    }
    .comp-title p {
        font-size: 10px;
        line-height: 17px;
    }
    .footer h1 {
        font-size: 11px;
    }
}